{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": "react",
  "plugins": [
    "react"
  ],  
  "rules": {
    "indent": "off",
    "object-curly-spacing": "off",
    "no-trailing-spaces": "off",
    "space-before-function-paren": "off",
    "space-before-blocks": "off",
    "arrow-spacing": "off",
    "max-nested-callbacks": ["error", 5],
    "new-cap": "off",
    "eol-last": "off",
    "keyword-spacing": "off",
    "padded-blocks": "warn",
    "eqeqeq": "off",
    "no-unused-vars": "warn",
    "space-infix-ops": "off",
    "semi": "warn",
    "no-multi-spaces": "warn",
    "no-throw-literal": "off",
    "brace-style": "off"
  }
}